sentence-transformers
faiss-cpu
numpy
PyPDF2
python-docx
torch
transformers
huggingface-hub
boto3
pydub
google-generativeai
fastapi
uvicorn[standard]
python-multipart
requests
scikit-learn
python-dotenv
azure-cognitiveservices-speech
pycryptodome
